#main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  margin: 0;
}
core-toolbar {
  background: transparent !important;
}
core-toolbar > h3 {
  margin: 0;
  font-weight: 500;
  line-height: 26px;
  vertical-align: bottom;
  color: #efefef !important;
  text-shadow: 1px 1px 0px #555;
}
core-header-panel {
  height: 100%;
  background: #efefef;
}
core-header-panel[mode=cover]::shadow #mainContainer {
  left: 70px;
}
.core-header {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 0 10px;
  background-color: rgba(214,70,65,1);
  color: #212121;
  transition: height 0.2s;
}
.core-header.tall {
  height: 10%;
}
.core-header.medium-tall {
  height: 120px;
}
.content {
  background-color: #efefef;
/*  background: linear-gradient(#fefefe, #D64541) !important;*/
}
button.custom {
  position: relative;
  outline: none;
  border: 0;
  background: transparent;
  padding: 0 0 0 6px;
  margin: 0 0 6px 6px;
  color: #666;
  font-size: 12px;
}
button.custom:hover {
  cursor: pointer;
}
button.custom > span {
  position:absolute;
  top:-2px;
  left: 0px;
}
core-collapse > table {
  margin: 0 0 0 12px;
}
