<link rel="import" href="../polymer/polymer.html">
<polymer-element name="ngn-treeitem" attributes="drag drop collapsed label expandOnDrop" constructor="TreeItem">
  <template>
    <link rel="stylesheet" href="./ngn-treeitem.css">
    <div id="treenode">
      <div id="row">
        <span id="icon"></span>
        <span id="label">{{label}}</span>
        <span id="spacer"></span>
      </div>
      <div id="children">
        <content></content>
      </div>
    </div>
  </template>
  <script src="./ngn-treeitem.js" type="text/javascript"></script>
</polymer-element>
