paper-tabs::shadow #selectionBar {
  background-color: #00BFF3 !important;
}
core-submenu::shadow #submenu {
  margin-left: 12px;
}
core-item[tag]:after {
  border-radius: 2px;
  padding: 2px 4px 4px 4px !important;
  position: absolute;
  top: 6px !important;
  right: 0px;
}
