paper-tabs #selectionBar {
  background-color: #00BFF3 !important;
}
core-submenu #submenu {
  margin-left: 12px;
}
core-item[tag]:after {
  border-radius: 3px;
  padding: 8px 4px 2px 4px !important;
  position: absolute;
  top: -6px;
  right: 0;
}
