@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
 html,
body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  background-color: #E6ECF1;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.columns {
  display: flex;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.columns > * {
  flex: 1 1 auto;
}
.rows {
  display: flex;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.rows > * {
  flex: 1 1 auto;
}
.columns > *,
.rows > * {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
#main > * {
  display: flex;
  flex: 1 1 auto;
}
core-toolbar {
  color: #141414;
  fill: #141414;
  background-color: transparent;
}
nav > core-toolbar {
  color: #efefef;
  fill: #efefef;
  max-height: 45px;
}
nav {
  font-size: smaller;
  background-color: #171D25;
  max-width: 285px;
  color: #595959;
  /*
      -webkit-box-shadow: inset -3px 0px 5px 0px rgba(0,0,0,1);
      -moz-box-shadow: inset -3px 0px 5px 0px rgba(0,0,0,1);
*/
  box-shadow: inset -3px 0px 5px 0px rgba(0, 0, 0, .5);
}
nav > ul > li {
  list-style-type: none;
}
.leftshadow {
  margin: 4px 0 0 4px;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
#main > div {
  padding: 8px;
  font-family: 'Carrois+Gothic', robotodraft, 'Segue WT', sans-serif;
}
.paper-shadow-top-z-1 {
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.86);
}
#features {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}
#features > div > div {
  padding: 16px;
  margin: 4px 0 4px 0px;
  /*      border-bottom: 1px solid #ccc;*/
}
nav {
  min-width: 200px;
  width: 100%;
}
nav > ul {
  padding: 0;
}
nav > ul > li {
  padding: 8px 4px 4px 18px;
}
nav > ul > li > paper-button:hover {
  color: #efefef;
}
nav > ul > li.selected {
  border-left: 3px solid #00bff3;
  background-color: #12181f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.86);
}
nav > ul > li.selected > paper-button {
  color: #fff;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}
.hide {
  display: none;
}
#sourcecode {
  position: absolute;
  top: -6px;
  right: 0;
  left: 0;
  bottom: -6px;
  background-color: #222;
  padding: 30px 0 0 0;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: inset -1px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset -1px 4px 5px 0px rgba(0,0,0,0.75);
}
#sourcecode > core-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  max-height: 60px;
  z-index: 2;
}
#sourcecode > prism-js /deep/ pre {
  background-color: transparent !important;
}
